<div>
  <%= flash[:notice] %>
</div>

<h2>タイトル</h2>

<!-- @listはlists_controllerのshowアクションで定義したインスタンス変数 -->
<p><%= @list.title %></p>

<h2>本文</h2>
<p><%= @list.body %></p>

<p>画像</p>
  <!--attached?は、画像が存在していればtrue、存在していなければfalseを返します。-->
  <% if @list.image.attached? %>
    <%= image_tag @list.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>

<!-- 詳細画面（show.html.erbファイル）に、編集画面へ遷移するリンクを設定します。 -->
<%= link_to "編集", edit_list_path(@list.id) %>
<!-- Getメソッドの場合はmethodオプションを指定しなくてもいいが、update destroy createをしているする場合はURLに対してHTTPメソッドを指定しないといけない-->
<%= link_to "削除", list_path(@list.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>

